.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
memora-fbbcf-firebase-adminsdk-d5bqm-c481e61bd7.json