@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 6px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B9B4C7; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9591a0; 
  }